* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Link to Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

html {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Share styles */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.none {
  display: none;
}
/* Color Style */
.skyblue {
  color: #01acfd;
}

/* header section Starts */

/* Navbar section */
.navbar {
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 20px auto;
}

.left-nav {
  gap: 11px;
}

.left-nav :nth-child(2) {
  font-size: 2rem;
  font-weight: 700;
}
.center-nav ul {
  gap: 32px;
}
.center-nav ul li {
  list-style: none;
}
.center-nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.right-nav-btn {
  background-color: orange;
  border: none;
  border-radius: 12px;
  padding: 10px;
  color: #ffffff;
  width: 197px;
  font-size: 1.25rem;
  font-weight: 500;
  height: 50px;
}

/* Hero section */
.hero-section {
  margin: 0 auto;
  gap: 50px;
}

.hero-text {
  width: 640px;
}
.hero-title {
  width: 670px;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.hero-title1 {
  color: orange;
}
.hero-title2 {
  color: black;
}

.hero-description {
  font-size: 1.25rem;
  color: black;
}

.hero-btn {
  margin-top: 24px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  width: 197px;
  color: #ffffff;
  background-color: black;
  font-size: 1.25rem;
  font-weight: 700;
}

.hero-img > img {
  width: 100%;
}

/* header section Ends */

/* Main section Starts  */
.main {
  background-image: url("../assets/bg.png");
  background-position: center;
  background-image: linear-gradient(#ffffff 70%, #fab742e1);
}
/* Standard section */
.standard-section {
  padding: 60px 0;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
}

.standard-title {
  font-size: 3rem;
  font-weight: 700;
  color: #000000;
}
.standard-cards {
  width: 1160px;
  gap: 28px;
}

.standard-card {
  width: 367px;
  flex-direction: column;
  border-radius: 19px;
  padding: 52px 40px;
  gap: 32px;
  text-align: center;
}
.card1 {
  background-image: linear-gradient(#def5ff 10%, #ffffff);
  box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
}
.card2 {
  background-image: linear-gradient(#fff4dc 10%, #ffffff);
  box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
}
.card3 {
  background-image: linear-gradient(#f2e8ff 10%, #ffffff);
  box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
}
.card-title {
  font-size: 1.53rem;
  font-weight: 700;
  color: #202020;
}
.card-description {
  font-size: 0.9rem;
  color: #808080;
}
.card-sub-title {
  font-size: 0.9rem;
  font-weight: 700;
}

.standard-icon {
  width: 150px;
  height: 60px;
  gap: 10px;
}
.standard-icon div {
  width: 50%;
  font-size: 2rem;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Story section */
.story-section {
  padding-top: 60px;
  background-image: url(../assets/bg.png);
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  gap: 80px;
}

.story-title {
  font-size: 2.87rem;
  font-weight: 700;
  color: #000000;
}

.story-btn {
  padding: 10;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  background-color: black;
  width: 197px;
  height: 50px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 60px;
}

.story-cardss {
  gap: 18px;
}

/* Cards 1 */
.story-cards1 {
  width: 540px;
  background-color: #ffffff;
  border-radius: 16px;
  flex-direction: column;
}
.card-img img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.story-card-text {
  padding: 0 38px 34px;
}
.story-card-btn {
  color: #ffffff;
  font-size: 0.9rem;
  border: none;
  border-radius: 48px;
  background-color: #3cd8e8;
  width: 174px;
  height: 47px;
  position: relative;
  top: -28px;
}
.story-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 47px;
}
.story-card-description {
  font-size: 0.9rem;
  color: #666666;
}

/* cards 2 */
.story-cards2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
.cards2 {
  background-color: #ffffff;
  border-radius: 16px;
}
.cards2-img img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.cards2-btn {
  background-color: #95b226;
  width: 174px;
  height: 38px;
  font-size: 0.9rem;
  color: #ffffff;
  border: none;
  border-radius: 48px;
  position: relative;
  top: -24px;
  left: 29px;
}
.cards2-title {
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0 37px 28px;
  color: #000000;
}

/* Main section Ends */

/* Footer Section Starts */
.footer {
  width: 100%;
  height: 520px;
  background-color: #01acfd;
}
.footer-container {
  width: 1070px;
  height: 222px;
  color: #ffffff;
  gap: 150px;
}
.child1 > div {
  width: 300px;
  align-items: center;
  gap: 3px;
}

.child1-title {
  font-size: 1.6rem;
  font-weight: 700;
}

.child1-description {
  font-size: 1.25rem;
  width: 400px;
  margin-left: 7px;
  margin-top: 35px;
}

.child2 ul li {
  list-style-type: none;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.child2 ul li :nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
}
.child3-title {
  margin-bottom: 32px;
}
.child3 > div > img {
  margin-right: 10px;
}
/* Footer Section Ends */

/* Responsive layout Section */
/* Small size device */
@media screen and (max-width: 576px) {
  /* Shared Style */
  .sm-none {
    display: none;
  }

  /* Header section starts */

  /* Nav section */
  .right-nav-icon {
    display: block;
    font-size: 2rem;
  }

  .navbar {
    width: 350px;
    height: 70px;
    padding: 16px 12px;
    margin: 0 auto;
    border-bottom: 1px solid orange;
    align-items: center;
  }

  /* Hero section  */
  .hero-section {
    flex-direction: column-reverse;
    margin: 8px auto;
    gap: 0;
  }
  .hero-text {
    text-align: center;
    width: 357px;
  }
  .hero-title {
    font-size: 2rem;
    margin: 0px auto;
    width: 357px;
  }
  .hero-description {
    font-size: 14px;
    margin: 18px auto;
    width: 357px;
  }
  .hero-btn {
    border-radius: 8px;
    padding: 6px 24px;
    color: #ffffff;
    background-color: black;
    font-size: 1rem;
    width: 132px;
    height: 42px;
    margin: 0;
  }

  .hero-img {
    margin: 20px 10px;
  }

  /* Header section Ends */

  /* Main section  */
  .standard-section {
    width: 390px;
    gap: 20px;
    padding: 40px 16px 20px;
    margin: 0;
  }
  .standard-title {
    font-size: 1.625rem;
  }
  .standard-cards {
    width: 357px;
    flex-direction: column;
    gap: 12px;
  }
  .standard-card {
    padding: 36px 28px;
    border-radius: 13px;
    gap: 22px;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-description {
    width: 193px;
    font-size: 0.64rem;
  }
  .story-section {
    width: 100%;
  }

  .cards2-btn {
    width: 103px;
    height: 22px;
    font-size: 0.57rem;
    border-radius: 28px;
    position: relative;
    top: -17px;
    left: 34px;
  }
  .story-cards2 {
    margin: 20px 15px;
  }
  .story-section {
    gap: 0;
    padding-top: 40px;
  }

  .story-btn {
    margin-bottom: 40px;
    width: 134px;
    height: 30px;
    font-size: 1rem;
    font-weight: 700;
  }
  .story-title {
    font-size: 1.5rem;
  }
  .footer-container {
    flex-direction: column;
  }
  .child1-description {
    width: 95%;
  }
  .footer-container {
    height: 100%;
  }
  .child1 > div {
    margin-top: 30px;
  }
  .footer-container {
    gap: 32px;
  }
  .child2 ul li {
    margin-bottom: 27px;
  }
  .child2,
  .child3 {
    margin-left: 7px;
  }
  .footer {
    /* width: ; */
    height: 100%;
    padding-bottom: 60px;
  }
}
