* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Link to Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-fonts {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Share styles */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.none {
  display: none;
}
/* Color Style */
.skyblue {
  color: #01acfd;
}

/* header section Starts */

/* Navbar section */
.navbar {
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 20px auto;
}

.left-nav {
  gap: 11px;
}

.left-nav :nth-child(2) {
  font-size: 2rem;
  font-weight: 700;
}
.center-nav ul {
  gap: 32px;
}
.center-nav ul li {
  list-style: none;
}
.center-nav ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.right-nav-btn {
  background-color: orange;
  border: none;
  border-radius: 12px;
  padding: 10px;
  color: #ffffff;
  width: 197px;
  font-size: 1.25rem;
  font-weight: 500;
  height: 50px;
}

/* Hero section */
.hero-section {
  margin: 0 auto;
  gap: 50px;
}

.hero-text {
  width: 640px;
}
.hero-title {
  width: 670px;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.hero-title1 {
  color: orange;
}
.hero-title2 {
  color: black;
}

.hero-description {
  font-size: 1.25rem;
  color: black;
}

.hero-btn {
  margin-top: 24px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  width: 197px;
  color: #ffffff;
  background-color: black;
  font-size: 1.25rem;
  font-weight: 700;
}

.hero-img > img {
  width: 100%;
}

/* header section Ends */

/* Main section Starts  */

/* Standard section */
.standard-section {
  width: 1440px;
  padding: 60px 0;
  background-image: url(../assets/bg.png);
  flex-direction: column;
  gap: 80px;
  margin: 0 auto;
}

.standard-title {
  font-size: 3rem;
  font-weight: 700;
  color: #000000;
}
.standard-cards {
  width: 1160px;
  height: 482px;
  gap: 28px;
}

.standard-card {
  width: 367px;
  height: 476px;

  flex-direction: column;
  border-radius: 19px;
  padding: 52px 40px;
  gap: 32px;
  text-align: center;
}
.card1 {
  background-color: #def5ff;
}
.card2 {
  background-color: #fff4dc;
}
.card3 {
  background-color: #f2e8ff;
}
.card-title {
  font-size: 1.53rem;
  font-weight: 700;
  color: #202020;
}
.card-description {
  font-size: 0.9rem;
  color: #808080;
}
.card-sub-title {
  font-size: 0.9rem;
  font-weight: 700;
  /* color: #64c8ff; */
}

.standard-icon {
  width: 150px;
  height: 60px;
  gap: 10px;
}
.standard-icon div {
  width: 50%;
  font-size: 2rem;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Main section Ends */

/* Footer Section Starts */
/* Footer Section Ends */

/* Responsive layout Section */
/* Small size device */
@media screen and (max-width: 576px) {
  /* Shared Style */
  .sm-none {
    display: none;
  }

  /* Header section starts */

  /* Nav section */
  .right-nav-icon {
    display: block;
    font-size: 2rem;
  }

  .navbar {
    width: 350px;
    height: 70px;
    padding: 16px 12px;
    margin: 0 auto;
    border-bottom: 1px solid orange;
    align-items: center;
  }

  /* Hero section  */
  .hero-section {
    flex-direction: column-reverse;
    margin: 8px auto;
    gap: 0;
  }
  .hero-text {
    text-align: center;
    width: 357px;
  }
  .hero-title {
    font-size: 2rem;
    margin: 0px auto;
    width: 357px;
  }
  .hero-description {
    font-size: 14px;
    margin: 18px auto;
    width: 357px;
  }
  .hero-btn {
    border-radius: 8px;
    padding: 6px 24px;
    color: #ffffff;
    background-color: black;
    font-size: 1rem;
    width: 132px;
    height: 42px;
    margin: 0;
  }

  .hero-img {
    margin: 20px 10px;
  }

  /* Header section Ends */

  /* Main section  */
  .standard-section {
    width: 390px;
    padding: 40px 16px 20px;
  }
  .standard-title {
    font-size: 1.625rem;
  }
  .standard-cards {
    width: 357px;
    flex-direction: column;
    gap: 12px;
  }
  .standard-card {
    padding: 36px 28px;
    border-radius: 13px;
    gap: 22px;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-description {
    width: 193px;
    font-size: 0.64rem;
  }
}
